
.skeleton{
    position: relative;
    overflow: hidden;
}
.shimmer-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: loadingSkeleton .7s infinite ease-in-out;
}

.shimmer{
    width: 50%;
    height: 100%;
    background: rgba(197, 197, 197, 0.05);
    /* transform:skewX(-20deg); */
    transform:skewX(-15deg);
    box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.05);
}

.shimmer.dark{
    background: rgba(255, 255, 255, 0.05);
}


@keyframes loadingSkeleton{
    0% {transform: translateX(-100%);}
    25% {transform: translateX(-50%);}
    50% {transform: translateX(0%);}
    75% {transform: translateX(50%);}
    100% {transform: translateX(100%);}
}